<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.radio_button :group_type, "private", :checked => true %> 
  <%= label :group_type_private, "Private" %>
  <%= f.radio_button :group_type, "public" %> 
  <%= label :group_type_public, "Public" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
