<!DOCTYPE html>
<html>
<head>
  <title>Groupordinate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <a class="logo" href="/">Groupordinate</a>
    <a class="navlink" href=<%= new_user_registration_path %>>Sign up</a>
    <a class="navlink" href=<%= new_user_session_path %>>Sign in</a>    
  </div>
  
  <div id="page-wrapper">
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
